@page {
  size: A4;
  margin: 0.5cm;
  position: relative;
}
html * {
  font-family: "Almarai", sans-serif;
  color: #1d4a29;
  line-height: 0rem;
  font-size: 0.75rem;
  
}

.container {
  height: 23.7cm;
  position: relative;
  background-color: white;
}
.border-wraper {
  min-height: max-content;
  height: 100%;
  position: relative;
  padding: 1cm;
  border-left: 0.03mm solid #1d4a297a;
  border-bottom: 0.03mm solid #1d4a297a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.2cm;
}

.title-section {
  display: flex;
  gap: 0.3cm;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: #1d4a29;
}

.date-time {
  background-color: #dde4df;
  padding: 0.3cm;
  border-radius: 2mm;
  color: #1d4a29;
}
.mt{
  margin-top: 1cm;
}
.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
}

.map{
  margin-top: 1cm;
  margin-bottom: 2cm;
  width: 100%;
  height: 10cm;
}


.card{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  text-align: center;
  background-color: #F6F6F6;
  border-radius: 0.3cm;
  padding: 0.5cm;
  gap: 0.5cm;
  
}

.land-port{
  position: absolute;
  top: 5%;
  right: 3%;
}
.medina-port{
  position: absolute;
  top: 40%;
  left: 0%;
}

.jeddah-port{
  position: absolute;
  top: 54%;
  left: 13%;
}

.jeddah-airport{
  position: absolute;
  top: 72%;
  left: 15%;
}
















.devider{
  background-color: #1d4a2950;
  width: 100%;
  height: 0.03mm;
  
}
h2{
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.8rem;
  color: #1d4a29;
}

.icon-container{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.3cm;
  border-radius: 2mm;
}
.icon{
  width: 0.5cm;
  height: 0.5cm;
}

p{
  color: #619B55;
}

















.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
  left: 0;
  bottom: 0;
  padding: 0.3cm;
  background-color: #dde4df;
  border-top-right-radius: 1cm;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 0.2cm;
}

.contact-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  color: #1d4a29;
  text-align: center;
}
.logo {
  width: 3cm;
  height: 1.8cm;
}
.squar-img {
  width: 2cm;
  height: 1.7cm;
}
.details-squar {
  width: 0.5cm;
  height: 0.5cm;
}
.user-img {
  width: 25%;
  min-height: max-content;
  height: 100%;
}

.social-icons {
  width: 0.3cm;
  height: 0.3cm;
}

.arabhajj-icon {
  width: 3cm;
  height: 0.8cm;
}

.shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4cm;
  height: 2cm;
}

